<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>List books</h3>
  </div>
  <div class="large-12 cell">
      <table>
      <thead>
        <tr>
          <th>Дата прочтения</th>
          <th>Автор «Название»</th>
        </tr>
      </thead>
      <tbody>
        <% @sorted_books.each do |book| %>
          <tr>
            <td><%= book.date %></td>
            <td><%= book.author + " - \«#{book.book_name}\» "  %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
  </div>
    
  <div class="large-12 cell">
    <a href="books/new" class="button">Добавить книгу</a>
    <a href="books/stat" class="button">Посмотреть статистику</a>
  </div>

</div>
</div>